<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>userData.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controllerServlet</display-name>
    <servlet-name>controllerServlet</servlet-name>
    <servlet-class>com.control.controllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controllerServlet</servlet-name>
    <url-pattern>/controllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userServlet</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.control.userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>com.control.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminControlServlet</display-name>
    <servlet-name>adminControlServlet</servlet-name>
    <servlet-class>com.control.adminControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminControlServlet</servlet-name>
    <url-pattern>/adminControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userControlServlet</display-name>
    <servlet-name>userControlServlet</servlet-name>
    <servlet-class>com.control.userControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userControlServlet</servlet-name>
    <url-pattern>/userControlServlet</url-pattern>
  </servlet-mapping>
</web-app>